
<mat-toolbar color="primary" class="header">
    <span>Validation Results</span>
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel *ngFor="let result of validationResults">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ result.Name }}
      </mat-panel-title>
      <mat-panel-description>
        <hr>
        KRMovies : {{result.KRMovies.length}}
        NCMovies : {{result.NCMovies.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><b>Keanu Reeves Movies:</b> {{ result.KRMovies.join(', ') }}</p>
    <p><b>Nicolas Cage Movies:</b> {{ result.NCMovies.join(', ') }}</p>
  </mat-expansion-panel>
</mat-accordion>